.conteudo3 {
    margin: auto;
    display: grid;
    grid-template-columns: 696px 488px;
    grid-template-rows: 280px 544px;
    gap: 32px;
    row-gap: 0px;
    max-width:1220px; ;
    border-top: 2px solid var(--stroke-color);
    height: 856px;
}

.conteudo3title{
    grid-column: 1/2;

}
.conteudo3title ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.conteudo3main{
    width: 696px;
    grid-column: 1/2;
    gap: 32px;
}

.conteudo3section{
    width: 696px;
    height: 176px;
    display: grid;
    grid-template-columns: 504px 176px;
    gap: 16px;
    overflow: hidden;
    
    padding: 3px;
    margin-bottom: 16px;
    font: var(--span)
}
.conteudo3section p{
    height:max-content;
    width: 504px;
    white-space: collapse;
    overflow: hidden;
    text-overflow:ellipsis;
}
.conteudo3section h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    height: max-content;
}
.conteudo3section a {
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    padding: 3px;
    font: var(--span);
    max-width: fit-content;
}
.conteudo3section img {
    
    grid-column: 2/3;
    grid-row: 1/6;
    width: 176px;
    height: 176px;


}
.conteudo3pop-up {
grid-column: 2/3;
background-image: url(/assets/ads/Ads.png);
background-size:cover;
height: 280px;}

.conteudo4 {
    height: 544px;
    border-top: 2px solid var(--stroke-color);
    grid-column: 2/3;
}
.conteudo4 p {
    margin-top: 15px;
    height: 32px;
    border-top: 2px solid var(--stroke-color);
}

.conteudo4principal {
    display: grid;
    height: 488px;
    width: 488px;
}

.conteudo4principal img {
    height: 72px;
    grid-column: 1/2;
}

.conteudo4principal a h2 {
    grid-template-columns: 2/3;
    
    align-items: start;
}
.conteudo4base {
    display: grid;
    grid-template-columns: 72px 401px;
    height: 72px;
    grid-template-rows: repeat(5, 72px);
    gap: 15px;

}
.conteudo4base img{
    grid-column: 1/2;
    height: 72px;
}
.conteudo4base div{
    grid-column: 2/3;
    height: 72px;   
}
.conteudo4base div a{
    padding: 3px;
    grid-column: 2/3;
    background-color: var(--brand-color-dark);
    border-radius: 8px;
    max-width: fit-content;
    max-height: fit-content;
}
.conteudo4base div {
    overflow: hidden;
 
}
.conteudo4base div h2 {
    text-overflow:ellipsis;
    font: var(--span);
}