.conteudo2 {
    width: 1220px;
    margin: auto;
    height: 360px;
    font: var(--span); 
    padding-bottom: 80px;
   
    border-top: 2px solid var(--stroke-color);
  }
  .visto-recente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 40px;
  }
  
  .visto-recente li {
    list-style: none;
    align-items: center;
  }
  
  .visto-recente img {
    transition: opacity 0 ease;
  }
  

  img.defaut {
    opacity: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    align-self: center;
  }
  

  img.hover {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    align-self: center;
  }
  

  .visto-recente li:hover img.defaut {
    opacity: 0;
  }
  
  .visto-recente li:hover img.hover {
    opacity: 1;
  }
  
  .conteudo2menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
  .conteudo2menu div {
    height: 234px;
  }
  
  .conteudo2 div h2 {
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    font: var(--span);
    width: fit-content;
    padding: 3px;    
  }
  .veiculos {
    height: 160px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/Image%2006.png);
    border-radius: 4px;
  }
  .hologramas2 {
    height: 160px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/Image%2007.png);
    border-radius: 4px;
  }
  
  .realidade2 {
    height: 160px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/Image%2008.png);
    border-radius: 4px;
  }
  
  .internet2 {
    height: 160px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/Image%2009.png);
    border-radius: 4px;
  }

  .veiculos,
.hologramas2,
.realidade2,
.internet2 {
  display: flex;
  align-items: start;
  padding: 8px;
}