.conteudo1{
    display: grid;
    grid-template-areas:
    "A A B C"
    "A A D E";
    height: 416px;
    width: 1220px;
    margin : 30px auto;
    gap: 16px;
    font: var(--span); 
    padding-bottom: 80px;
}
.conteudo1 div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 4px;
}
.conteudo1 div p {
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    padding: 3px;
    font: var(--span);
}
.conteudo1 div a {
    margin-left: 10px;
}
.conteudo1 div a:hover {
    text-decoration: underline;
;
}
.robotica {
    grid-area: A;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)),
    url(/assets/Image\ 01.png);
    background-size:cover;
    border-radius: 4px;
}
.hologramas {
    grid-area: B;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)),
    url(/assets/Image\ 02.png);
    background-size:cover;
    border-radius: 4px;
}
.internet{
    grid-area: C;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)),
    url(/assets/Image\ 03.png);
    background-size:cover;
    border-radius: 4px;
}
.vestiveis {
    grid-area: D;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)),
    url(/assets/Image\ 04.png);
    background-size:cover;
    border-radius: 4px;
}
.realidade {
    grid-area: E;
    background-size:cover;
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)),
    url(/assets/Image\ 05.png);
    border-radius: 4px;
    
}
